<footer>
  <div class="max-w-[80vw] mx-auto flex flex-col items-center justify-center mb-[1em]">
    <div class="flex flex-wrap justify-center items-center text-xs op-30 my-2">

      {import.meta.env.BLOG_LINK && (
        <>
          <a b-slate-link href={import.meta.env.BLOG_LINK} target="_blank">Blog</a>
        </>
      )}

      {import.meta.env.PARTNER_LINK1 && import.meta.env.PARTNER_LINK_TITLE1 && (
        <>
          <span class="px-1">|</span>
          <a b-slate-link href={import.meta.env.PARTNER_LINK1} target="_blank">{import.meta.env.PARTNER_LINK_TITLE1}</a>
        </>
      )}

      {import.meta.env.PARTNER_LINK2 && import.meta.env.PARTNER_LINK_TITLE2 && (
        <>
          <span class="px-1">|</span>
          <a b-slate-link href={import.meta.env.PARTNER_LINK2} target="_blank">{import.meta.env.PARTNER_LINK_TITLE2}</a>
        </>
      )}
    </div>

    <p class="flex flex-wrap justify-center items-center text-xs op-30 my-2">
      © 2024&nbsp;<a href="https://geminiprochat.com" target="_blank" class="font-bold">Gemini Pro Chat</a>. All rights reserved.
    </p>

    <div class="flex flex-wrap justify-center items-center text-xs op-30 my-2">
      {import.meta.env.PRIVACY_POLICY_LINK && (
        <a href={import.meta.env.PRIVACY_POLICY_LINK} target="_blank">Privacy Policy</a>
      )}
      {import.meta.env.TOS_LINK && (
        <>
          <span class="px-1">|</span>
          <a href={import.meta.env.TOS_LINK} target="_blank">Terms of Service</a>
        </>
      )}
    </div>

  </div>
<div style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: #fff; text-align: center; font-size: 12px; padding: 5px 0;">
  <div style="display: inline-flex; align-items: center; justify-content: center; text-align: left;">
    <img src="https://beian.mps.gov.cn/img/logo01.dd7ff50e.png" style="width: 18px; height: 18px; margin-right: 5px;">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=14110202000164" style="text-decoration: none; color: orange;" rel="noopener">
      晋公网安备14110202000164号
    </a>
    <span style="margin: 0 10px;">|</span>
    <a target="_blank" href="http://beian.miit.gov.cn/" style="text-decoration: none; color: orange;" rel="noopener">
      ICP备案：晋ICP备2023021823号-2
    </a>
  </div>
</div>
</footer>
